
<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8"/>

    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width"/>

    <script src="https://use.fontawesome.com/beeea48637.js"></script>

    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="list-preserve.css"/>

    <script src="https://use.typekit.net/npg1bvk.js"></script>
    <script>try {
            Typekit.load({async: true});
        } catch (e) {
        }</script>
    
<!-- This site is optimized with the Yoast SEO Premium plugin v3.2.5 - https://yoast.com/wordpress/plugins/seo/ -->
<title>Monkup</title>
<meta name="description" content="Online ordering system and marketing platform for restaurants. Restaurant apps, online food ordering system, Facebook ordering = :) customers."/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="#" />
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<script type='text/javascript' src='jquery.js'></script>
<script type='text/javascript' src='jquerymigrate.js'></script>
</head>

<body class="home">
<!-- Google Tag Manager -->
<script>
    var dataLayer = [];
</script>
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TG6Q92"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TG6Q92');</script>

    <div class="main">

<script>
    if (window.location.hash == "#contact") {
        window.location.href = "/support";
    }
</script>


<div class="banner home plus center image" style="background-image: url(mountain.png)">
    <div class="container">
        <div class="banner__headline">
            <div class="common-table">
                <div class="common-cell">
                                            <h2 class="headline_header">
                            MonkUp                        </h2>
                                            <h3>Use MonkUp to quickly create wireframe mockups with just a stylus.</h3>
                                                <ul>
                                                            <li><a href="https://devpost.com" class="common-button pill white page" data-video="69297019">Check it out</a></li>
                                                    </ul>
                                    </div>
            </div>
        </div>
    </div>
</div>


        <div class="how">
          <div class="container">
            <div class="how__content">
              <div class="common-table">
                <div class="common-cell">
                  <h3>Quickly sketch your mockups by hand.</h3>
                  <p>MonkUp allows you to create interactive mockups within minutes, making it extremely for designers to convey their ideas to developers</p>
                  <a href="https://devpost.com" class="common-button standard red">Check it out.</a></dd>
                </div>
              </div>
            </div>
            <div class="how__visual">
              <div class="common-table">
                <div class="common-cell">
                  <div class="how__visual__image"><img src="https://www.chownow.com/wp-content/uploads/devices.png" alt="" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="features" id="features">
          <div class="container">
            <div class="features__wrap">
              <div class="feature x0">
                <div class="feature__frame">
                  <div class="feature__title">
                    <div class="feature__title__tag common-tag red"><span>1</span></div>
                    <h3>Getting started</h3>
                    <hr />
                  </div>
                  <div class="feature__icon">
                    <div class="common-table">
                      <div class="common-cell">
                        <div class="feature__icon__image">
                          <div><i style="color:#5768b4;" class="fa fa-tablet fa-3x" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="feature__content">
<p>Download our app on your iPad, and get ready to design.</p>
                  </div>
                </div>
              </div>
              <div class="feature x1">
                <div class="feature__frame">
                  <div class="feature__title">
                    <div class="feature__title__tag common-tag red"><span>2</span></div>
                    <h3>Making your drawings</h3>
                    <hr />
                  </div>
                  <div class="feature__icon">
                    <div class="common-table">
                      <div class="common-cell">
                        <div class="feature__icon__image">
                          <div><i style="color:#5768b4;" class="fa fa-sticky-note fa-3x" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="feature__content">
<p>Use your finger or a stylus to create a drawing on your tablet.</p>
                  </div>
                </div>
              </div>
              <div class="feature x2">
                <div class="feature__frame">
                  <div class="feature__title">
                    <div class="feature__title__tag common-tag red"><span>3</span></div>
                    <h3>Using our tools</h3>
                    <hr />
                  </div>
                  <div class="feature__icon">
                    <div class="common-table">
                      <div class="common-cell">
                        <div class="feature__icon__image">
                          <div><i style="color:#5768b4;" class="fa fa-pencil fa-3x" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="feature__content">
<p>Use our intuitive pen, eraser, or rectangle tools to make the layout of your dreams. </p>
                  </div>
                </div>
              </div>
              <div class="feature x3">
                <div class="feature__frame">
                  <div class="feature__title">
                    <div class="feature__title__tag common-tag red"><span>4</span></div>
                    <h3>Saving your drawings</h3>
                    <hr />
                  </div>
                  <div class="feature__icon">
                    <div class="common-table">
                      <div class="common-cell">
                        <div class="feature__icon__image">
                          <div><i style="color:#5768b4;" class="fa fa-save fa-3x" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="feature__content">
<p>Our app stores all of your drawings so that you never lose your precious work.</p>
                  </div>
                </div>
              </div>
              <div class="feature x4">
                <div class="feature__frame">
                  <div class="feature__title">
                    <div class="feature__title__tag common-tag red"><span>5</span></div>
                    <h3>Update designs</h3>
                    <hr />
                  </div>
                  <div class="feature__icon">
                    <div class="common-table">
                      <div class="common-cell">
                        <div class="feature__icon__image">
                          <div><i style="color:#5768b4" class="fa fa-cloud fa-3x" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="feature__content">
<p>You can retrieve and update any of your designs, anytime.</p>
                  </div>
                </div>
              </div>
              <div class="feature x5">
                <div class="feature__frame">
                  <div class="feature__title">
                    <div class="feature__title__tag common-tag red"><span>6</span></div>
                    <h3>Deploy Your Mockups</h3>
                    <hr />
                  </div>
                  <div class="feature__icon">
                    <div class="common-table">
                      <div class="common-cell">
                        <div class="feature__icon__image">
                          <div><i style="color:#5768b4;" class="fa fa-mobile fa-3x" aria-hidden="true"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="feature__content">
<p>Our app allows you to easily deploy your mockups to a cross-platform webview that includes devices of all screen sizes.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>

</div>



    <script src="https://www.chownow.com/wp-content/themes/chownow4/js/script.js" async></script>
</script>
  </body>